@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* CSS Reset */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
button,
input,
select,
textarea {
    font-family: 'Roboto', sans-serif;
}

/* Vars */
:root {
    --primary: hsl(0, 0%, 100%);
    --secondary: hsl(0, 0%, 98%);
    --border: hsl(0, 0%, 86%);

    --story-border: hsl(0, 0%, 78%);
    --img-border: hsla(0, 0%, 0%, 0.1);

    --text-dark: hsl(0, 0%, 15%);
    --text-light: hsl(0, 0%, 60%);

    --like: hsl(355, 82%, 61%);
    --link: hsl(204, 100%, 48%);

    --header-height: 44px;
    --nav-height: 44px;
}

:root.darkTheme {
    --primary: hsl(0, 0%, 0%);
    --secondary: hsl(0, 0%, 2%);
    --border: hsl(0, 0%, 15%);

    --story-border: hsl(0, 0%, 44%);
    --img-border: hsla(0, 0%, 100%, 0.1);

    --text-dark: hsl(0, 0%, 98%);
    --text-light: hsl(0, 0%, 60%);
}

/* General Styles */
body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    overflow-y: auto;
    justify-content: start;
    align-items: center;
}

svg {
    display: block;
}

img {
    max-width: 100%;
}

/* Header Navbar */
.header {
    width: 100%;
    height: var(--header-height);
    background-color: var(--primary);
    background-image: linear-gradient(to left, #a1c4fd 0%, #f2fcfe 100%);
    display: flex;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.header::after {
    content: '';
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 1px;
    background-color: var(--border);
}

.header__content {
    width: 100%;
    max-width: 975px;

    padding: 0 14px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__home {
    margin-top: 5px;
}

.header__theme-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header__theme-button-sun {
    display: none;
}

.header__theme-button-moon {
    display: unset;
}

:root.darkTheme .header__theme-button-sun {
    display: unset;
}

:root.darkTheme .header__theme-button-moon {
    display: none;
}

.header__search {
    width: 216px;
    height: 28px;

    display: none;
    align-items: center;
    position: relative;
}

.header__search svg {
    width: 12px;
    height: 12px;

    position: absolute;
    left: 8px;
}

.header__search input {
    width: 100%;
    height: 100%;
    background-color: var(--secondary);

    padding: 4px 10px 4px 28px;
    border: 1px solid var(--border);
    border-radius: 4px;
    outline: none;

    font-size: 12px;
    font-weight: 300;
    text-decoration: none;
    color: var(--text-light);

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.header__search input:focus {
    color: var(--text-dark);
}

.header__search img {
    position: absolute;
    width: 15px;
    left: 5px;
}

.header__buttons {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* Bottom Navbar */
.navbar {
    width: 100%;
    height: var(--nav-height);
    background-color: var(--primary);

    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.navbar::after {
    content: '';
    position: absolute;
    top: 0;

    width: 100%;
    height: 1px;
    background-color: var(--border);
}

.navbar__button {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__button.profile-button .profile-button__border {
    width: 28px;
    height: 28px;
    border-width: 2px;
}

/*마이페이지이미지*/
.mypage-img {
    position: absolute;
    margin: 0 0 30px 370px;
    cursor: pointer;
}

/*프로필 내용*/
.profile{
    width: 600px;
    height: 300px;
}
.names {

    float : left;
    width: 90%;
    margin: 10px 0 0 0;
    height: 50px;

}

.name-1 {
    font-size: 26px;
    float: left;
    width: 200px;
    height: 30px;
    box-sizing: border-box;
    cursor: pointer;

}

.name-2 {
    border: 1px solid #8e8e8e;
    font-weight: bold;
    float: left;
    margin-left: 4%;
    padding-top: 5px;
    padding-left: 8px;
    height: 30px;
    width: 94px;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.name-3 {
    float: right;
    width: 94px;
    margin-right: 100px;
    box-sizing: border-box;
    cursor: pointer;
}

.tags {
    float: left;
    width: 90%;
    padding: 60px 0 0 0;
}

.tag-1 {
    font-size: 18px;
    float: left;
    width: 100px;
    height: 30px;
    box-sizing: border-box;
}

.tag-2 {
    font-size: 18px;
    float: left;
    margin-left: 1%;
    padding-top: 1px;
    width: 100px;
    height: 30px;
    box-sizing: border-box;
}

.tag-3 {
    float: right;
    font-size: 18px;
    width: 100px;
    height: 30px;
    margin-right: 200px;
    box-sizing: border-box;
}

.name {
    width: 90%;
    float: right;
    padding: 60px 0 0 0;
}

.myname {
    font-size: 15px;
    font-weight: bold;
}

/* Profile Button */
.profile-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
}

.profile-button__border {
    display: none;

    width: 27px;
    height: 27px;
    border: 1px solid white;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-button:focus .profile-button__border {
    display: block;
}

.profile-button__picture {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, white 0%, white 100%);
    overflow: hidden;
    position: relative;
}

.profile-button1__picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;

    overflow: hidden;
    position: relative;
}

.profile-button__picture::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    border: 1px solid var(--img-border);
    border-radius: 50%;
}

/* Media Queries */
@media (max-width: 767px) {
    .header__buttons--desktop {
        display: none;
    }

    /* Fix post medias indicators bugs on mobile */
    .post__medias {
        gap: 1px;
    }
}

@media (min-width: 620px) {
    .content-container {
        padding: 30px 0 24px;
    }

    .content {
        gap: 24px;
    }

    .stories {
        border: 1px solid var(--border);
        border-radius: 4px;
    }

    .stories::after {
        content: none;
    }

    .posts {
        gap: 24px;
    }

    .post {
        border: 1px solid var(--border);
        border-radius: 4px;
    }

    .post__footer {
        padding: 4px 8px 12px;
    }

    .post__date-time {
        margin-top: 6px;
    }
}

@media (min-width: 768px) {
    :root {
        --header-height: 54px;
        --nav-height: 0px;
    }

    .header__content {
        padding: 0 20px;
    }

    .header__search {
        display: flex;
    }

    .header__buttons--mobile {
        display: none;
    }

    .navbar {
        display: none;
    }
}

/* Main Content */


.main-container {
    background-color: var(--primary);

    margin-top: var(--header-height);
    margin-bottom: var(--nav-height);

    display: flex;
    flex-direction: column;
    width: 97%;
    height: 100%;
    min-height: 120vh;
    max-width: 940px;
}

.main-container__profile {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: start;
    align-items: center;
    height:30%;
    border-bottom: 1px solid rgb(0,0,0,0.1);
    min-height: 222px;
}

.main-container__profile > img {
    width: 150px;
    height: 150px;
    border: 1px solid rgb(0, 0, 0, 0.4);
    border-radius: 50%;
    margin-left: 6%;
    margin-right: 6%;
}

.main-container__profile__info {
    display:flex;
    flex-direction: column;
    width:60%;
    justify-content: start;
    align-items: flex-start;
    height: 90%;
    min-height: 150px;
}

.main-container__profile__info__id-buttton {
    font-size: 27px;
    font-weight: 100;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.main-container__profile__info__id-buttton > button {
    margin-left: 4%;
    margin-right: 3.5%;
    background-color: rgb(250, 250, 250);
    font-size: 14px;
    font-weight: 700;
    padding: 2px;
    border: 1px solid rgb(0, 0, 0, 0.1);
}

.main-container__profile__info__id-buttton > i {
    font-size: 23px;
}

.main-container__profile__info__follow-etc {
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: start;
    align-items: center;
    margin: 20px 0px 20px 0px;
    font-size: 15px;
}

.main-container__profile__info__follow-etc :nth-child(3) {
    margin-left:5%;
}

.main-container__profile__info__follow-etc :nth-child(4) {
    margin-right:5%;
}

.main-container__profile__info__follow-etc :nth-child(odd) {
    margin-right:1%;
}

.main-container__profile__info__follow-etc :nth-child(even) {
    font-weight: 700;
}

.main-container__profile__info__name-discription {
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.main-container__profile__info__name-discription :first-child {
    font-weight: 700;
}

.main-container__publications {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width:200px;
}

.main-container__publications__icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 12px;
    color: rgb(0, 0, 0, 0.4);
    height: 100%;
}

.main-container__publications__icons > div {
    margin-left: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:60px;
    padding:20px 0px 20px 0px;
}

.main-container__publications__icons__publication {
    color:black;
    border-top: 1px solid black;
}

.main-container__publications__imgs {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 30% 30%;
	grid-template-rows: repeat(auto-fill, 1fr);
    gap: 2% 3%;
}

.main-container__publications__imgs :last-child {
    grid-column-start: 1;
    grid-column-end: 4;
}

#this_is_blank_for_last_row {
    height: 100px;
}

.main-container__footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: rgb(0,0,0,0.5);
}

.main-container__footer__etc {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.main-container__footer__etc > span {
    margin-right: 1.5%;
}

.main-container__footer__lang-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container__footer__lang-footer > span {
    margin-right: 1.5%;
}

.main-container__footer__lang-footer i {
    font-size: 12px;
}

#feed_modal {
    display: none;
    width: 260px;
    height: 366px;

    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 3px;
}
.feed-option {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.post__profile {
    display: flex;
    align-items: center;
    gap: 12px;
}

.post__avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.post__avatar::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    border: 1px solid var(--img-border);
    border-radius: 50%;
}

.modal_btn {
    width: 260px;
    height: 45.75px;
    border-top: 1px solid #dbdbdb;
    font-size: 14px;
    margin: 0;
    text-align: center;
    padding: 15px;
}
.modal_btn2 {
    width: 258px;
    height: 25px;
    border: #dbdbdb;
    font-size: 14px;
    text-align: center;
    position: fixed;
    bottom:0;
    background-color: white;
}
.feed_message {
    margin: 5px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}
.user__profile {
    height: 60px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
}