<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
    ></script>
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/mypage.css"/>
    <script src="/static/mypage.js"></script>
    <script
            src="https://kit.fontawesome.com/a77969e492.js"
            crossorigin="anonymous"
    ></script>
    <link
            rel="icon"
            href="/static/favicon.ico"
            type="image/x-icon"
            sizes="16x16"
    />
    <title>MyPage</title>
</head>
<body>
<header class="header">
    <!-- navigation -->
    <nav class="header__content">
        <div class="header__buttons">
            <!-- 좌측 상단 instagram img -->
            <a href="page?MainPage" class="header__home">
                <img src="../static/img/logo.svg"/>
            </a>
        </div>

        <div class="header__search">
            <!-- 돋보기 이미지 -->
            <img src="../static/img/icons/search.svg"/>
            <!-- 검색 txt 박스 -->
            <input type="text" placeholder="Search"/>
        </div>

        <div class="header__buttons header__buttons--mobile">
            <!-- 모바일 화면 우측 상단 게시물 작성 이미지 -->
            <a href="#">
                <svg
                        aria-label="새로운 게시물"
                        class="_8-yf5"
                        color="#262626"
                        fill="#262626"
                        height="24"
                        role="img"
                        viewBox="0 0 24 24"
                        width="24"
                >
                    <path
                            d="M2 12v3.45c0 2.849.698 4.005 1.606 4.944.94.909 2.098 1.608 4.946 1.608h6.896c2.848 0 4.006-.7 4.946-1.608C21.302 19.455 22 18.3 22 15.45V8.552c0-2.849-.698-4.006-1.606-4.945C19.454 2.7 18.296 2 15.448 2H8.552c-2.848 0-4.006.699-4.946 1.607C2.698 4.547 2 5.703 2 8.552z"
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                    ></path>
                    <line
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            x1="6.545"
                            x2="17.455"
                            y1="12.001"
                            y2="12.001"
                    ></line>
                    <line
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            x1="12.003"
                            x2="12.003"
                            y1="6.545"
                            y2="17.455"
                    ></line>
                </svg>
            </a>
            <!-- 모바일 화면 우측 상단 활동 피드 이미지 -->
            <a href="#">
                <svg
                        aria-label="활동 피드"
                        class="_8-yf5"
                        color="#262626"
                        fill="#262626"
                        height="24"
                        role="img"
                        viewBox="0 0 24 24"
                        width="24"
                >
                    <path
                            d="M16.792 3.904A4.989 4.989 0 0121.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 014.708-5.218 4.21 4.21 0 013.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 013.679-1.938m0-2a6.04 6.04 0 00-4.797 2.127 6.052 6.052 0 00-4.787-2.127A6.985 6.985 0 00.5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 003.518 3.018 2 2 0 002.174 0 45.263 45.263 0 003.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 00-6.708-7.218z"
                    ></path>
                </svg>
            </a>
            <!-- 모바일 화면 우측 상단 메세지 이미지 -->
            <a href="#">
                <svg
                        aria-label="Direct"
                        class="_8-yf5"
                        color="#262626"
                        fill="#262626"
                        height="24"
                        role="img"
                        viewBox="0 0 24 24"
                        width="24"
                >
                    <line
                            fill="none"
                            stroke="currentColor"
                            stroke-linejoin="round"
                            stroke-width="2"
                            x1="22"
                            x2="9.218"
                            y1="3"
                            y2="10.083"
                    ></line>
                    <polygon
                            fill="none"
                            points="11.698 20.334 22 3.001 2 3.001 9.218 10.084 11.698 20.334"
                            stroke="currentColor"
                            stroke-linejoin="round"
                            stroke-width="2"
                    ></polygon>
                </svg>
            </a>
        </div>

        <div class="header__buttons header__buttons--desktop">
            <!-- 우측 상단 홈 이미지 -->
            <a href="page?name=MainPage">
                <svg
                        aria-label="홈"
                        class="_8-yf5"
                        color="#262626"
                        fill="#262626"
                        height="24"
                        role="img"
                        viewBox="0 0 24 24"
                        width="24"
                >
                    <path
                            d="M22 23h-6.001a1 1 0 01-1-1v-5.455a2.997 2.997 0 10-5.993 0V22a1 1 0 01-1 1H2a1 1 0 01-1-1V11.543a1.002 1.002 0 01.31-.724l10-9.543a1.001 1.001 0 011.38 0l10 9.543a1.002 1.002 0 01.31.724V22a1 1 0 01-1 1z"
                    ></path>
                </svg>
            </a>
            <!-- 우측 상단 메세지 이미지 -->
            <a href="#">
                <svg
                        aria-label="Direct"
                        class="_8-yf5"
                        color="#262626"
                        fill="#262626"
                        height="24"
                        role="img"
                        viewBox="0 0 24 24"
                        width="24"
                >
                    <line
                            fill="none"
                            stroke="currentColor"
                            stroke-linejoin="round"
                            stroke-width="2"
                            x1="22"
                            x2="9.218"
                            y1="3"
                            y2="10.083"
                    ></line>
                    <polygon
                            fill="none"
                            points="11.698 20.334 22 3.001 2 3.001 9.218 10.084 11.698 20.334"
                            stroke="currentColor"
                            stroke-linejoin="round"
                            stroke-width="2"
                    ></polygon>
                </svg>
            </a>
            <!-- 우측 상단 게시물 작성 이미지 -->
            <a href="#">
                <svg
                        aria-label="새로운 게시물"
                        class="_8-yf5"
                        color="#262626"
                        fill="#262626"
                        height="24"
                        role="img"
                        viewBox="0 0 24 24"
                        width="24"
                >
                    <path
                            d="M2 12v3.45c0 2.849.698 4.005 1.606 4.944.94.909 2.098 1.608 4.946 1.608h6.896c2.848 0 4.006-.7 4.946-1.608C21.302 19.455 22 18.3 22 15.45V8.552c0-2.849-.698-4.006-1.606-4.945C19.454 2.7 18.296 2 15.448 2H8.552c-2.848 0-4.006.699-4.946 1.607C2.698 4.547 2 5.703 2 8.552z"
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                    ></path>
                    <line
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            x1="6.545"
                            x2="17.455"
                            y1="12.001"
                            y2="12.001"
                    ></line>
                    <line
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            x1="12.003"
                            x2="12.003"
                            y1="6.545"
                            y2="17.455"
                    ></line>
                </svg>
            </a>
            <!-- 우측 상단 사람 찾기 이미지 -->
            <a href="#">
                <svg
                        aria-label="사람 찾기"
                        class="_8-yf5"
                        color="#262626"
                        fill="#262626"
                        height="24"
                        role="img"
                        viewBox="0 0 24 24"
                        width="24"
                >
                    <polygon
                            fill="none"
                            points="13.941 13.953 7.581 16.424 10.06 10.056 16.42 7.585 13.941 13.953"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                    ></polygon>
                    <polygon
                            fill-rule="evenodd"
                            points="10.06 10.056 13.949 13.945 7.581 16.424 10.06 10.056"
                    ></polygon>
                    <circle
                            cx="12.001"
                            cy="12.005"
                            fill="none"
                            r="10.5"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                    ></circle>
                </svg>
            </a>
            <!-- 우측 상단 활동 피드 이미지 -->
            <button class="feed-option">
                <svg aria-label="활동 피드" class="_8-yf5 " color="#262626" fill="#262626" height="24" role="img"
                     viewBox="0 0 24 24" width="24">
                    <path d="M16.792 3.904A4.989 4.989 0 0121.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 014.708-5.218 4.21 4.21 0 013.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 013.679-1.938m0-2a6.04 6.04 0 00-4.797 2.127 6.052 6.052 0 00-4.787-2.127A6.985 6.985 0 00.5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 003.518 3.018 2 2 0 002.174 0 45.263 45.263 0 003.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 00-6.708-7.218z"></path>
                </svg>
            </button>
            <!-- 우측 상단 프로필 이미지 버튼 -->
            <a href="page?name=MyPage">
                <button class="profile-button">
                    <div class="profile-button__border"></div>
                    <div class="profile-button__picture">
                        <img src="../static/img/sijosijo.png" alt="User Picture"/>
                    </div>
                </button>
            </a>
            <button onclick="logoutbtn()" type="button" id="logout" class="logout" style="width: 70px;
                    border: solid 2px grey;
                    border-radius: 12px;
                    background-color:transparent;">로그아웃</button>
        </div>
    </nav>
</header>

<!--프로필-->
<div class="main-container">
    <div class="main-container__profile">
        <img src="../static/img/sijosijo.png"/>
        <div class="main-container__profile__info">
            <div class="main-container__profile__info__id-buttton">
                <span>woojin</span>
                <button name="button">프로필 편집</button>
                <i class="fa-solid fa-gear"></i>
            </div>
            <div class="main-container__profile__info__follow-etc">
                <span>게시물</span>
                <span>999</span>
                <span>팔로워</span>
                <span>100K</span>
                <span>팔로우</span>
                <span>30K</span>
            </div>
            <div class="main-container__profile__info__name-discription">
                <span>Woojin Baek</span>
                <span>Sweet Lover</span>
            </div>
        </div>
    </div>
    <div class="main-container__publications">
        <div class="main-container__publications__icons">
            <div class="main-container__publications__icons__publication">
                <i class="fa-solid fa-table-cells"></i>
                <span>게시물</span>
            </div>
            <div class="main-container__publications__icons__video">
                <i class="fa-solid fa-circle-play"></i>
                <span>동영상</span>
            </div>
            <div class="main-container__publications__icons__bookmark">
                <i class="fa-solid fa-bookmark"></i>
                <span>저장됨</span>
            </div>
            <div class="main-container__publications__icons__taged">
                <i class="fa-solid fa-circle-user"></i>
                <span>태그됨</span>
            </div>
        </div>
        <div class="main-container__publications__imgs">
            <img src="../static/img/woodindin.png"/>
            <img src="../static/img/woodindin.png"/>
            <img src="../static/img/woodindin.png"/>
            <img src="../static/img/woodindin.png"/>
            <img src="../static/img/woodindin.png"/>
            <img src="../static/img/woodindin.png"/>
            <img src="../static/img/woodindin.png"/>
            <img src="../static/img/woodindin.png"/>
            <img src="../static/img/woodindin.png"/>
            <img src="../static/img/woodindin.png"/>
            <img src="../static/img/woodindin.png"/>
            <div id="this_is_blank_for_last_row"></div>
        </div>
    </div>
    <!-- footer -->
    <div class="main-container__footer">
        <div class="main-container__footer__etc">
            <span>Meta</span>
            <span>소개</span>
            <span>블로그</span>
            <span>채용 정보</span>
            <span>도움말</span>
            <span>API</span>
            <span>개인정보처리방침</span>
            <span>약관</span>
            <span>인기 계정</span>
            <span>해시태그</span>
            <span>위치</span>
            <span>instagram Lite</span>
        </div>
        <div class="main-container__footer__lang-footer">
            <span>한국어 <i class="fa-solid fa-chevron-down"></i></span>
            <span>© 2022 Instagram from Meta</span>
        </div>
    </div>
</div>
<!-- 피드 모달창 -->
<div id="feed_modal">
    <div class="feed_message">
        <div class="user__profile">
            <a
                    href="page?name=MyPage"
                    class="post__avatar"
            >
                <img src="../static/img/sijosijo.png" alt="User Picture"/>
            </a>
            <div><a href="#">OOO님</a>이 팔로우를 요청했습니다.</div>
        </div>
    </div>
    <div class="feed_message">
        <div class="user__profile">
            <a
                    href="page?name=MyPage"
                    class="post__avatar"
            >
                <img src="../static/img/sijosijo.png" alt="User Picture"/>
            </a>
            <div><a href="#">OOO님</a>이 팔로우를 요청했습니다.</div>
        </div>
    </div>

    <button id="feed_close_btn" class="modal_btn2">취소</button>
</div>
<script>
    function feed__modal(id) {
        var zIndex = 9999;
        var modal = document.getElementById(id);

        // 모달 div 뒤에 희끄무레한 레이어
        var bg = document.createElement('div');
        bg.setStyle({
            position: 'fixed',
            zIndex: zIndex,
            left: '0px',
            top: '0px',
            width: '100%',
            height: '100%',
            overflow: 'auto',
            // 레이어 색갈은 여기서 바꾸면 됨
            backgroundColor: 'rgba(0,0,0,0.4)'
        });
        document.body.append(bg);

        // 닫기 버튼 처리, 시꺼먼 레이어와 모달 div 지우기
        document.getElementById('feed_close_btn').addEventListener('click', function () {
            bg.remove();
            modal.style.display = 'none';
        });

        modal.setStyle({
            position: 'fixed',
            display: 'block',
            boxShadow: '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)',

            // 시꺼먼 레이어 보다 한칸 위에 보이기
            zIndex: zIndex + 1,

            // div center 정렬
            top: '30%',
            left: '80%',
            transform: 'translate(-50%, -50%)',
            msTransform: 'translate(-50%, -50%)',
            webkitTransform: 'translate(-50%, -50%)'
        });

    }

    modal_event = document.getElementsByClassName('feed-option')
    for (var i = 0; i < modal_event.length; i++) {
        modal_event[i].addEventListener('click', function () {
            feed__modal('feed_modal');
        });
    }

    function modal(id) {
        var zIndex
        if (id == "option_modal") {
            zIndex = 9999;
        } else {
            zIndex = 9000;
        }

        var modal = document.getElementById(id);
        console.log(modal)

        // 모달 div 뒤에 희끄무레한 레이어
        var bg = document.createElement('div');
        bg.setStyle({
            position: 'fixed',
            zIndex: zIndex,
            left: '0px',
            top: '0px',
            width: '100%',
            height: '100%',
            overflow: 'auto',
            // 레이어 색갈은 여기서 바꾸면 됨
            backgroundColor: 'rgba(0,0,0,0.4)'
        });
        document.body.append(bg);

        // 닫기 버튼 처리, 시꺼먼 레이어와 모달 div 지우기
        close_modal_event = document.getElementsByClassName('modal_close_btn');
        for (var i = 0; i < close_modal_event.length; i++) {
            close_modal_event[i].addEventListener('click', function () {
                bg.remove();
                modal.style.display = 'none';
            });
        }

        modal.setStyle({
            position: 'fixed',
            display: 'block',
            boxShadow: '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)',

            // 시꺼먼 레이어 보다 한칸 위에 보이기
            zIndex: zIndex + 1,

            // div center 정렬
            top: '50%',
            left: '50%',
            transform: 'translate(-50%, -50%)',
            msTransform: 'translate(-50%, -50%)',
            webkitTransform: 'translate(-50%, -50%)'
        });


    }

    // Element 에 style 한번에 오브젝트로 설정하는 함수 추가
    Element.prototype.setStyle = function (styles) {
        for (var k in styles) this.style[k] = styles[k];
        return this;
    };

    option_modal_event = document.getElementsByClassName('post__more-options')
    for (var i = 0; i < option_modal_event.length; i++) {
        option_modal_event[i].addEventListener('click', function () {
            modal('option_modal');

        });
    }

    post_modal_event = document.getElementsByClassName('post__button')
    for (var i = 0; i < post_modal_event.length; i++) {
        post_modal_event[i].addEventListener('click', function () {
            modal('post_modal');
        });
    }
    // 모달창 띄우기


</script>
<script src="../static/js/logout.js"></script>
</body>
</html>
